<header class="flex justify-between items-center py-6 md:justify-start md:space-x-4">
    <div class="flex justify-start sm:w-1 md:flex-1">
        <a routerLink="/">
            <img class="h-8 w-auto sm:h-10" src="../../assets/s2dent.png" alt="">
        </a>
    </div>

    <nav class="hidden md:flex space-x-6 flex-grow-1 ">
        <ul class="flex flex-row items-center justify-evenly">
            <li class="w-full h-full">
                <a routerLink="/" i18n
                    class="text-base font-medium text-gray-500 transition-all duration-1000 hover:text-gray-900 hover:text-lg">
                    {{ "Начало" }}</a>
            </li>
            <li>
                <a routerLink="/team" class="text-base font-medium text-gray-500 hover:text-gray-900 hover:text-lg">
                    Екип </a>
            </li>
            <li>
                <a routerLink="/treatments"
                    class="text-base font-medium text-gray-500 hover:text-gray-900 hover:text-lg"> Лечения </a>
            </li>
            <li>
                <a routerLink="/news" class="text-base font-medium text-gray-500 hover:text-gray-900"> Новини </a>
            </li>
            <li>
                <a routerLink="/testimonials" class="text-base font-medium text-gray-500 hover:text-gray-900"> Мнения
                </a>
            </li>
            <li>
                <a routerLink="/gallery" class="text-base font-medium text-gray-500 hover:text-gray-900"> Галерия </a>
            </li>
            <li>
                <a routerLink="/contacts" class="text-base font-medium text-gray-500 hover:text-gray-900"> Контакти </a>
            </li>
        </ul>
    </nav>

    <div class="md:flex items-center justify-end md:flex-1 lg:w-0">
        <a href="/login"
            class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-stone-400 hover:bg-stone-700">
            Вход </a>
    </div>
</header>